.top-header {
  height: 400px;
  width: 100%;
  background-color: #f07c00;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
/* Now for the desktop layout */
@media only screen and (min-width: 1024px) {
  .top-header {
    width: 60%;
    margin-top: 4rem;
    margin-left: 4rem;
    position: sticky;
    top: 10rem;
  }
}
