nav {
  height: 120px;
  width: 100vw;
  background-color: #f07c00;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  align-items: end;
  padding-bottom: 15px;
  position: sticky;
  top: 0;
}

.nav-span-text {
  font-family: "Bungee", sans-serif;
  margin: 0 1.5em 0 1.5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 36px;
}

.newTweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1.5em 0 1.5em;
}

.nav-para {
  margin: 5px;
}

.new-tweet-button {
  background-color: #f07c00;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  border: none;
  cursor: pointer;
  color: red;
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056a1;
    background-image: none;
  }
  .new-tweet-button {
    background-color: #4056a1;
    background-image: none;
  }
}
